@model viacinema.Models.Movie

@{
    string ratingClassName = "";
    switch (@Model.Rating)
    {
    case 1: ratingClassName = "one"; break;
    case 2: ratingClassName = "two"; break;
    case 3: ratingClassName = "three"; break;
    case 4: ratingClassName = "four"; break;
    case 5:
    default: ratingClassName = "five"; break;
    }
}

<p class="movie-rating @ratingClassName"><b>Rating:</b> <span></span></p>

<style>
    .movie-rating {
        display: flex;
        align-items: center;
        margin-top: -9px;
    }

    .movie-rating span {
        display: inline-flex;
        width: 100px;
        height: 40px;
        background: url("https://www.gruppomazzini.it/site/uploads/2017/06/five-stars.png");
        background-size: cover;
    }

    .movie-rating.four {
        width: 130px;
    }

    .movie-rating.three {
        width: 111px;
    }

    .movie-rating.two {
        width: 91px;
    }

    .movie-rating.one {
        width: 73px;
    }
</style>